selenium-debug.log
.idea
.vs-code
.DS_Store

node_modules
output/*
reports/*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

npm-debug.log
package-lock.json
